@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --background: hsl(216 57% 100%);
  --foreground: hsl(216 73% 0%);
  --card: hsl(216 57% 100%);
  --card-foreground: hsl(216 73% 0%);
  --popover: hsl(216 57% 100%);
  --popover-foreground: hsl(216 73% 0%);
  --primary: 216 100% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 216 6% 85%;
  --secondary-foreground: 216 6% 25%;
  --muted: 216 11% 92%;
  --muted-foreground: 216 2% 29%;
  --accent: 216 16% 77%;
  --accent-foreground: 216 16% 17%;
  --destructive: 17 96% 43%;
  --destructive-foreground: 0 0% 100%;
  --border: hsl(216 13% 92%);
  --input: hsl(216 13% 92%);
  --ring: hsl(216 100% 58%);
  --chart-1: hsl(216 100% 58%);
  --chart-2: hsl(216 6% 85%);
  --chart-3: hsl(216 16% 77%);
  --chart-4: hsl(216 6% 88%);
  --chart-5: hsl(216 103% 58%);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --warning: 38 92% 50%;
  --warning-foreground: 48 96% 89%;
}

.dark {
  --background: hsl(216 37% 2%);
  --foreground: hsl(216 39% 98%);
  --card: hsl(216 37% 2%);
  --card-foreground: hsl(216 39% 98%);
  --popover: hsl(216 37% 2%);
  --popover-foreground: hsl(216 39% 98%);
  --primary: 216 100% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 216 2% 15%;
  --secondary-foreground: 216 2% 75%;
  --muted: 216 11% 8%;
  --muted-foreground: 216 2% 71%;
  --accent: 216 7% 21%;
  --accent-foreground: 216 7% 81%;
  --destructive: 17 96% 51%;
  --destructive-foreground: 0 0% 100%;
  --border: hsl(216 13% 13%);
  --input: hsl(216 13% 13%);
  --ring: hsl(216 100% 58%);
  --chart-1: hsl(216 100% 58%);
  --chart-2: hsl(216 2% 15%);
  --chart-3: hsl(216 7% 21%);
  --chart-4: hsl(216 2% 18%);
  --chart-5: hsl(216 103% 58%);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --warning: 48 96% 89%;
  --warning-foreground: 38 92% 50%;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
