---
kind: GlobalDatasource
metadata:
  name: prometheus-datasource
spec:
  default: true
  plugin:
    kind: PrometheusDatasource
    spec:
      proxy:
        kind: HTTPProxy
        spec:
          url: http://prom-analytics-proxy:9091
